@{
  Layout="_Layout";
}

@using UniversityRegistrar.Models
@model UniversityRegistrar.Models.Student

<h2>Info for @Html.DisplayFor(model => model.Name)</h2>

@if(@Model.Courses.Count == 0)
{
  <p>This student is not assigned to any courses</p>
}
else
{
  <p>This student is enrolled in some courses!</p>
  @* <ul>
    @foreach(Course course in @ViewBag.Courses)
    {
      <li>@Html.ActionLink($"{courses.CourseTitle}", "Details", "Courses", new { id = courses.CourseId })</li>
    }
  </ul> *@
}

@Html.ActionLink("Back To Student List", "Index")
@Html.ActionLink("Home", "Index", "Home")