@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h1>Edit</h1>

<h3>Edit Student Details: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.Label("Select course")
  @Html.DropDownList("CourseId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>